* {
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: flex;
}

#list-view {
    flex: 0 auto;
    width: 200px;
    overflow: auto;
    transition: width 0.5s cubic-bezier(0, 0, 0.2, 1);
}

#list-view.close {
    width: 0;
}

main {
    flex: 1 auto;
    display: flex;
    flex-flow: column;
}

header {
    height: 50px;
    width: 100%;
}

#map {
    flex: 1 auto;
}
