/*The way flexbox works with other css properties still remains a mistery...*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #303030;
}

#container {
    height: 100%;
    font-size: 1.1rem;
    min-width: 30em;
}

aside {
    width: 13em;
    height: 100%;
    overflow: auto;
    transition: margin-left 0.5s cubic-bezier(0, 0, 0.2, 1);
    padding: .1em;
    color: #e4e4e4;
    float: left;
    word-spacing: 0.1em;
}

aside.close {
    margin-left: -13em;
}

ul {
    list-style: none;
    line-height: 1.3em;
}

li {
    padding: .3em .5em;
    cursor: pointer;
}

li + li {
    border-top: solid 0.1em #737373;
}

ul li:hover {
    color: #737373;
}

main {
    width: calc(100% - 13em);
    height: 100%;
    transition: width 0.5s cubic-bezier(0, 0, 0.2, 1);
    float: left;
}

main.expand {
    /*padding-left: 0;*/
    width: 100%;
}

header {
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #888;
    font-size: 1.6em;
    margin: 0 0.3em;
}

header a:hover {
    color: #e4e4e4;
}

input {
    font-size: 1.1em;
    height: 2em;
}

#map {
    height: calc(100% - 3em);
}

.infowindow {
    color: #303030;
    font-family: Arial, sans-serif;
}

.infowindow a {
    color: #0091ff;
    text-decoration: none;
}

.infowindow p {
    margin: 0.5em 0 0 0;
    max-width: 25em;
    text-align: justify;
}
